@layout('layouts/default')
@set('title', 'The best Task Manager in the world')

@section('main')

<section class="p-10 flex flex-col gap-4">
    <h1 class="text-3xl font-bold">
      Manage your tasks, focus on what is important
    </h1>

    <h2 class="text-2xl font-bold">Tasks</h2>
    {{inspect(tasks)}}


    @!button({
      text: 'Login',
    })


    <custom-select></custom-select>
  </section>


@endsection
