@layout('layouts/default')
@set('title', 'The best Task Manager in the world')

@section('main')

<section>
    <h1 class="text-3xl font-bold">
      Manage your tasks, focus on what is important
    </h1>
  </section>


@endsection
