<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title ?? 'Home' }} - Todo-Ultra </title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="bg-background flex flex-col justify-between h-screen lg:overflow-y-hidden">
  <header class="relative z-10 h-20 p-4 md:p-8 lg:px-0 max-w-[1000px] mx-auto w-full">
    <nav>
      <a href="/" class="font-extrabold uppercase">
        Todo-Ultra ⚡️
      </a>
    </nav>
  </header>


  @!section('main')

  <footer class="text-center p-4 md:p-8 relative z-10">
    <p>&copy; {{ new Date().getFullYear() }} by <a class="underline" href="https://fredkiss.dev">Fredkiss3</a></p>
    <p>You can find the source code <a href="https://github.com/Fredkiss3/todo-ultra" class="underline">here</a></p>
  </footer>
</body>

</html>
